body{
    padding: 20px 50px;
}

.form_design{
   font-size: 20px;
}

.form_design input{
   width: 50%;
   padding: 12px 20px;
   border: 2px solid blue;
   margin: 10px;
   border-radius: 10px;
   font-size: 15px;
}

.formerror{
   color: red;
}

.button{
   color: violet;
   border-radius: 16px;
   width: 80px;
   height: 30px;
   font-size: 20px;
   margin: 30px 200px;
   
}

#pass{
   width: 92%;
}
#cpass{
   width: 70%;
}
